body {
  font-family: verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

h3 {
  font-size: 21px;
  color: gray;
  font-weight: normal;
}

p {
  font-family: verdana, sans-serif;
  font-size: 16px;
}

a.cta {
  color: aquamarine;
  font-size: 16px;
}
